<?xml version="1.0" encoding="utf-8" ?>

<!-- 
  
    IMPORTANT!!!
    PLEASE DO NOT CHANGE ANY KEY NAME!
    CHANGING KEY NAME WILL MAKES SYSTEM TO RUN UNEXPECTED!
    PLEASE CONTACT ME IF YOU CHANGED KEY(S) NAME BY ACCIDENT!
  
    Telephone number: +852 2377 5590 - Tommy
    E-mail: tommy.wong@goldennews.com.hk
    
-->

<appSettings>
  <!-- System Configuration -->

  <!--
    
    The Card Reader/IP Encoder that being utilised by this system.
    This key accepting value "salto", "vingcard" only.
    If typed other value, SALTO reader will be used by default.
    
  -->
  <add key="ReaderManufacturer" value="salto"/>

  <!-- Dispenser Configuration -->

  <!-- Eject the card when over x seconds. Only accept 0-255 seconds. -->
  <add key="AutoEjectSeconds" value="2"/>

  <!-- Receipt Configuration -->

  <!-- 
  
    Please make sure all picture file paths are correct.
    A wrong file path can cause the system crash when proceed printing receipt stage.
  
  -->

  <!-- The path of client's company logo file. -->
  <add key="CompanyLogoPath" value="C:\Users\Tommy\Pictures\CEPO_LOGO_2017.png"/>

  <!-- The name of the client's company. -->
  <add key="CompanyName" value="Golden News"/>

  <!-- The address of client's company. -->
  <add key="Address1" value="16 Shing Yip St, Rm 1003, 10/F,"/>
  <add key="Address2" value="Block A, East Sun Industrial Centre,"/>
  <add key="Address3" value="Kwun Tong"/>

  <!-- The telephone number that shows in receipt. -->
  <add key="TelephoneNumber" value="2377 5555"/>

  <!-- Client's company official website URL. -->
  <add key="WebsiteURL" value="www.goldennews.com.hk"/>

  <!-- The logo that show at the bottom of the receipt. -->
  <add key="sponsorIconPath" value="C:\Users\Tommy\Pictures\starbucks.png"/>

  <!-- The URL of the sponsor that show at the bottom of the receipt. -->
  <add key="sponsorURL" value="https://www.starbucks.com.hk/"/>

  <!-- Arduino Configuration -->

  <!-- The port number of the arduino. -->
  <add key="lightPortNumber" value="COM7"/>

  <!-- SALTO Reader Configuration -->

  <!-- The SALTO reader port number. -->
  <add key="SaltoReaderPort" value="COM1"/>

  <!-- Assa Abloy IP Encoder Configuration -->

  <!-- Visionline IP address. -->
  <add key="VisionlineIP" value=""/>

  <!-- The endpoint ID. -->
  <add key="EndpointId" value=""/>

  <!-- The login information of Visionline. -->
  <add key="Username" value=""/>
  <add key="Password" value=""/>

  <!-- The encoder name shows in Visionline. -->
  <add key="EncoderName" value=""/>

  <!-- The Web API version that Encoder is using. -->
  <add key="APIVersion" value="v1"/>
  
  <!-- JDS Configuration -->
  
  <!-- JDS namespace -->
  <add key="JDSNamespace" value="http://tempuri.org/"/>
  
  <!-- JDS URL -->
  <add key="JDSURL" value="http://kiosk.jds.com.my/wws_winpacpms2/wws_winpac.asmx"/>
  
  <!-- JDS Property ID -->
  <add key="JDSPropertyId" value="01"/>
  
  <!-- JDS Station ID -->
  <add key="JDSStationID" value="KIOSK1"/>
  
  <!-- JDS Auth key -->
  <add key="JDSAuthKey" value="KQ9gmd7tbzb3EYn"/>

  <!-- JDS checkout mode -->
  
  <!-- 
      
      Please not this only accept value as X/C.
      Do NOT input any other characters.
      Input other charcters will skip JDS interface step.
      
      System accept the following characters:
      X: Express Check Out
      C: Check Out
      
  -->
  
  <add key="CheckOutMode" value="X"/>

  <!-- 
      
      Validation mode
      Do NOT input any other characters.
      Input other characters will never run success read card step.
      
      System accept the following characters:
      J: JDS Validation Mode
      D: Default Validation Mode (In which always return true. For testing purpose only.)
      
  -->
  <add key="VerifierMode" value="J"/>

  <!-- Log Back Upkey -->
  <add key="serverAPIKey" value="&lt;cVi9NodBL3Uqg1g7p%4zmUKW_j2cTZFmuide0Moi!ewQNts5bNScDRX5A5zz-ZO@>"/>

  <add key="googleSheetAPI" value="https://sheet.best/api/sheets/e4d92608-bec0-46f4-b43e-1d558e790c28"/>

</appSettings>