absl-py==0.9.0
adal==1.2.1
aiohttp==3.6.2
appnope==0.1.0
arrow==0.15.5
astor==0.8.1
async-timeout==3.0.1
asyncio==3.4.3
attrs==19.3.0
backcall==0.1.0
binaryornot==0.4.4
bleach==3.1.4
botbuilder-core==4.8.0
botbuilder-schema==4.8.0
botframework-connector==4.8.0
Brotli==1.0.9
cachetools==4.0.0
camelot-py==0.7.3
certifi==2018.11.29
cffi==1.14.0
chardet==3.0.4
click==7.1.1
cookiecutter==1.7.0
cryptography==2.8
cycler==0.10.0
dash==1.18.1
dash-core-components==1.14.1
dash-daq==0.5.0
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.1
DateTime==4.3
decorator==4.4.2
defusedxml==0.6.0
dialogflow==1.1.0
distro==1.5.0
docopt==0.6.2
entrypoints==0.3
et-xmlfile==1.0.1
ffprobe==0.5
Flask==1.1.2
Flask-Compress==1.8.0
flask-googlemaps==0.4.0
Flask-SQLAlchemy==2.4.1
future==0.18.2
gast==0.2.2
geographiclib==1.50
geopy==1.21.0
google-api-core==1.23.0
google-auth==1.23.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.52.0
googlemaps==4.2.0
grpcio==1.33.2
gunicorn==20.0.4
h5py==2.10.0
heroku==0.1.4
idna==2.8
importlib-metadata==1.6.0
ipykernel==5.2.1
ipython==7.13.0
ipython-genutils==0.2.0
isodate==0.6.0
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.0
Jinja2==2.11.1
jinja2-time==0.2.0
json5==0.9.4
jsonpickle==1.2
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
jupyterlab==2.1.0
jupyterlab-server==1.1.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
msal==1.1.0
msrest==0.6.10
multidict==4.7.5
nbconvert==5.6.1
nbformat==5.0.5
nltk==3.4.5
notebook==6.0.3
numpy==1.18.1
oauthlib==3.1.0
opencv-python==4.2.0.32
openpyxl==3.0.3
opt-einsum==3.2.0
pandas==1.0.3
pandocfilters==1.4.2
parso==0.7.0
pdfminer.six==20200402
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
pipreqs==0.4.10
playsound==1.2.2
plotly==4.8.1
poyo==0.5.0
prometheus-client==0.7.1
prompt-toolkit==3.0.5
protobuf==3.14.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.9.7
pydub==0.24.1
Pygments==2.6.1
PyJWT==1.5.3
pyobjc==7.0.1
pyobjc-core==7.0.1
pyobjc-framework-Accounts==7.0.1
pyobjc-framework-AddressBook==7.0.1
pyobjc-framework-AdSupport==7.0.1
pyobjc-framework-AppleScriptKit==7.0.1
pyobjc-framework-AppleScriptObjC==7.0.1
pyobjc-framework-ApplicationServices==7.0.1
pyobjc-framework-AuthenticationServices==7.0.1
pyobjc-framework-AutomaticAssessmentConfiguration==7.0.1
pyobjc-framework-Automator==7.0.1
pyobjc-framework-AVFoundation==7.0.1
pyobjc-framework-AVKit==7.0.1
pyobjc-framework-BusinessChat==7.0.1
pyobjc-framework-CalendarStore==7.0.1
pyobjc-framework-CFNetwork==7.0.1
pyobjc-framework-CloudKit==7.0.1
pyobjc-framework-Cocoa==7.0.1
pyobjc-framework-Collaboration==7.0.1
pyobjc-framework-ColorSync==7.0.1
pyobjc-framework-Contacts==7.0.1
pyobjc-framework-ContactsUI==7.0.1
pyobjc-framework-CoreAudio==7.0.1
pyobjc-framework-CoreAudioKit==7.0.1
pyobjc-framework-CoreBluetooth==7.0.1
pyobjc-framework-CoreData==7.0.1
pyobjc-framework-CoreHaptics==7.0.1
pyobjc-framework-CoreLocation==7.0.1
pyobjc-framework-CoreMedia==7.0.1
pyobjc-framework-CoreMediaIO==7.0.1
pyobjc-framework-CoreMIDI==7.0.1
pyobjc-framework-CoreML==7.0.1
pyobjc-framework-CoreMotion==7.0.1
pyobjc-framework-CoreServices==7.0.1
pyobjc-framework-CoreSpotlight==7.0.1
pyobjc-framework-CoreText==7.0.1
pyobjc-framework-CoreWLAN==7.0.1
pyobjc-framework-CryptoTokenKit==7.0.1
pyobjc-framework-DeviceCheck==7.0.1
pyobjc-framework-DictionaryServices==7.0.1
pyobjc-framework-DiscRecording==7.0.1
pyobjc-framework-DiscRecordingUI==7.0.1
pyobjc-framework-DiskArbitration==7.0.1
pyobjc-framework-DVDPlayback==7.0.1
pyobjc-framework-EventKit==7.0.1
pyobjc-framework-ExceptionHandling==7.0.1
pyobjc-framework-ExecutionPolicy==7.0.1
pyobjc-framework-ExternalAccessory==7.0.1
pyobjc-framework-FileProvider==7.0.1
pyobjc-framework-FileProviderUI==7.0.1
pyobjc-framework-FinderSync==7.0.1
pyobjc-framework-FSEvents==7.0.1
pyobjc-framework-GameCenter==7.0.1
pyobjc-framework-GameController==7.0.1
pyobjc-framework-GameKit==7.0.1
pyobjc-framework-GameplayKit==7.0.1
pyobjc-framework-ImageCaptureCore==7.0.1
pyobjc-framework-IMServicePlugIn==7.0.1
pyobjc-framework-InputMethodKit==7.0.1
pyobjc-framework-InstallerPlugins==7.0.1
pyobjc-framework-InstantMessage==7.0.1
pyobjc-framework-Intents==7.0.1
pyobjc-framework-IOSurface==7.0.1
pyobjc-framework-iTunesLibrary==7.0.1
pyobjc-framework-LatentSemanticMapping==7.0.1
pyobjc-framework-LaunchServices==7.0.1
pyobjc-framework-libdispatch==7.0.1
pyobjc-framework-LinkPresentation==7.0.1
pyobjc-framework-LocalAuthentication==7.0.1
pyobjc-framework-MapKit==7.0.1
pyobjc-framework-MediaAccessibility==7.0.1
pyobjc-framework-MediaLibrary==7.0.1
pyobjc-framework-MediaPlayer==7.0.1
pyobjc-framework-MediaToolbox==7.0.1
pyobjc-framework-Metal==7.0.1
pyobjc-framework-MetalKit==7.0.1
pyobjc-framework-MetalPerformanceShaders==7.0.1
pyobjc-framework-ModelIO==7.0.1
pyobjc-framework-MultipeerConnectivity==7.0.1
pyobjc-framework-NaturalLanguage==7.0.1
pyobjc-framework-NetFS==7.0.1
pyobjc-framework-Network==7.0.1
pyobjc-framework-NetworkExtension==7.0.1
pyobjc-framework-NotificationCenter==7.0.1
pyobjc-framework-OpenDirectory==7.0.1
pyobjc-framework-OSAKit==7.0.1
pyobjc-framework-OSLog==7.0.1
pyobjc-framework-PencilKit==7.0.1
pyobjc-framework-Photos==7.0.1
pyobjc-framework-PhotosUI==7.0.1
pyobjc-framework-PreferencePanes==7.0.1
pyobjc-framework-PushKit==7.0.1
pyobjc-framework-Quartz==7.0.1
pyobjc-framework-QuickLookThumbnailing==7.0.1
pyobjc-framework-SafariServices==7.0.1
pyobjc-framework-SceneKit==7.0.1
pyobjc-framework-ScreenSaver==7.0.1
pyobjc-framework-ScriptingBridge==7.0.1
pyobjc-framework-SearchKit==7.0.1
pyobjc-framework-Security==7.0.1
pyobjc-framework-SecurityFoundation==7.0.1
pyobjc-framework-SecurityInterface==7.0.1
pyobjc-framework-ServiceManagement==7.0.1
pyobjc-framework-Social==7.0.1
pyobjc-framework-SoundAnalysis==7.0.1
pyobjc-framework-Speech==7.0.1
pyobjc-framework-SpriteKit==7.0.1
pyobjc-framework-StoreKit==7.0.1
pyobjc-framework-SyncServices==7.0.1
pyobjc-framework-SystemConfiguration==7.0.1
pyobjc-framework-SystemExtensions==7.0.1
pyobjc-framework-UserNotifications==7.0.1
pyobjc-framework-VideoSubscriberAccount==7.0.1
pyobjc-framework-VideoToolbox==7.0.1
pyobjc-framework-Vision==7.0.1
pyobjc-framework-WebKit==7.0.1
pyparsing==2.4.6
PyPDF2==1.26.0
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2019.3
pyzmq==19.0.0
requests==2.22.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.0
scipy==1.4.1
selenium==3.141.0
Send2Trash==1.5.0
six==1.14.0
sortedcontainers==2.1.0
sounddevice==0.4.1
SoundFile==0.10.3.post1
speedtest-cli==2.1.2
SQLAlchemy==1.3.15
tabula-py==2.2.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tflearn==0.3.2
tika==1.24
tornado==6.0.4
traitlets==4.3.3
urllib3==1.25.8
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.0
wget==3.2
whichcraft==0.6.1
wrapt==1.12.1
xmltodict==0.12.0
yarg==0.1.9
yarl==1.4.2
zipp==3.1.0
zope.interface==5.0.2
